/* This exercise finally taught me the css position property. I may not have it completely in grasp but I understand 95%. https://www.freecodecamp.org/news/how-to-use-the-position-property-in-css-to-align-elements-d8f49c403a26/  */


:root{
        --flag-height: 500px;
        --flag-width: 800px;
    }

html, body {
    margin: 0;
    padding: 0;
}

.flag {
    height: var(--flag-height);
    width: var(--flag-width);
    display: block;
    /* border: 1px solid black; */
  }

.yellow-bg
{
    height: var(--flag-height);
    width: var(--flag-width); 
    background-color: #FECC00;
    display:inline-block;
    position: relative;
    /* border: 1px solid black; */
}



.blue-patch
{
    background-color: #0269A6;
    position: absolute;
    height:calc(var(--flag-height)*4/10);
    display: inline-block;
}

#I
{
    /* position: absolute; */
    right:0px;
    top:0px;
    width:calc(var(--flag-width)*9/16);
}
#II
{
    /* position: absolute; */
    left:0px;
    top:0px;
    width:calc(var(--flag-width)*5/16);
}
#III
{
    /* position: relative; */
    left:0px;
    bottom:0px;
    width:calc(var(--flag-width)*5/16);
}
#IV
{
    /* position: relative; */
    right:0px;
    bottom:0px;
    width:calc(var(--flag-width)*9/16);
}
