:root
{
    --width: 500px;
    --border: 5px;
}

.box
{
    border:var(--border) solid white;
    background-color: black;
    height: 100px;
    width: var(--width);
    display: inline-block;
    margin: 0px;
}

.line
{
    display: block;
}
#skin
{
    background-color: #F5C6D6;
}

#pink
{
    max-width:calc(((var(--width) + 2*var(--border) - 3*(4px))/4) - 2*var(--border));
    /* Looks like there is a gap of 4 pix by default between two divs . SOLUTION FOUND :https://ourcodeworld.com/articles/read/658/removing-whitespaces-between-inline-block-elements-with-css*/
    background-color: #EE2E84;
    
}

#aqua
{
    background-color: #85CFD8;
    width:calc(((var(--width) + 2*var(--border) - 1*(4px))/2) - 2*var(--border));
}

#green
{
    background-color: #8DC63F;
    width: 360px;
}

#orange
{
    background-color: #E76E34;
    width: 120px;
}